{% extends "General/base.html" %}
{% load static %}
{% block content %}
<style>
#order-final-table {
	margin: auto;
	font-size: 24px;
}
.order-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 24px;
}
</style>
{% if products.items %}
<h3 class="title animated wow zoomIn" data-wow-delay=".5s">{{ firstname }} 's Orders</h3>


<div class="checkout-right animated wow slideInUp" data-wow-delay=".5s">
	<table class="timetable_sub" style='margin-top: 24px;'>
		<thead>
			<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Product Name</th>
				<th>Product Price</th>
				<th>Order Price</th>
			</tr>
		</thead>
		{% for key, data in products.items %}
		<tr class="rem1" id='product-{{data.product.id}}'>
			<td class="invert-image"><a href="single.html"><img src="{{data.product.productimages_set.first.image.url}}" alt=" " style='height: 42px !important; width: 42px !important;' class="img-responsive" /></a></td>
			<td class="invert">
					<div class="quantity"> 
					<div class="quantity-select">
						<div class="entry value" id='{{data.product.id}}-product-qty'><span>{{data.qty}}</span></div>
					</div>
				</div>
			</td>
			<td class="invert">{{data.product.name}}</td>
			<td class="invert">${{data.product.price}}.00</td>
			<td class="invert product-order" data-price='{{data.product.price}}' data-qty='{{data.qty}}'></td>
		</tr>
		{% endfor %}
	</table>

	<br><br>
	<table id='order-final-table'>
		<tr>
			<th style='text-align: right;'>ORDER TOTAL</th>
			<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
			<td id='order-total-order'>$<span id='total-order-price'></span>.00</td>
		</tr>
		<tr>
			<th style='text-align: right;'>ORDER DATE</th>
			<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
			<td><span id='order-date'></span></td>
		</tr>
		<tr>
			<th style='text-align: right;'>PAYMENT TYPE</th>
			<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
			<td>CASH ON DELIVERY</td>
		</tr>
		<tr>
			<th style='text-align: right;'>SHIPPING ADDRESS</th>
			<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
			{% if address.all %}
			<td id='address-container'><select id='address'>
			{% for add in address %}
				<option value="{{add.address}},{{add.city}},{{add.state}},{{add.pincode}}">{{add.label}} </option>
			{% endfor %}
			</select></td>
			{% else %}
			<div class="alert alert-danger" role="alert">
				<option><strong>Oh snap!</strong> Please add an address first.</option>
			</div>
			{% endif %}
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><button class='order-button'>MAKE ORDER</button></td>
		</tr>
	</table>
	{% csrf_token %}
</div>
{% else %}

<center><h1>You have not placed any orders in the past !</h1></center>

{% endif %}

<br>
<br>
<br>

<script type='text/javascript'>
	$(document).ready(function() {
		notification_timeout = -1
		notification_element = $('#cart-add-failure')
		var today = new Date();
		$('#order-date').html(today.toLocaleDateString())

		order_prices = $('.product-order')
		total_order_price = 0
		for (let i=0; i<order_prices.length; i++) {
			price = parseInt(order_prices[i].getAttribute('data-price'))
			qty = parseInt(order_prices[i].getAttribute('data-qty'))
			total_product_order = (price*qty)
			total_order_price += total_product_order
			html_str = "$"+total_product_order.toString()+".00"
			$(order_prices[i]).html(html_str)
		}
		$('#total-order-price').html(total_order_price)
		$('.order-button').on('click', function() {
			address = $('#address').val()
			address_stripped = address.trim().replace(/[\W_]+/g,"")
			if (address_stripped.length > 0) {
				if (notification_timeout !== -1) {
					clearTimeout(notification_timeout)
				}
				notification_element.css('display', 'none')
				$('.loader').css('display', 'block')
				$('#blockDiv').css('display', 'block')
				var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
				xmlhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						res = JSON.parse(this.responseText)
						if (res['success'] === true) {
							notification_element = $('#order-success')
						}
						setTimeout(function() {
							$('.loader').css('display', 'none')
							$("#blockDiv").css('display', 'none')
							notification_element.css('display', 'block')
							$('.order-button').css('display', 'none')
							$('#address-container').html(address)
					
						}, 1420);
						notification_timeout = setTimeout(function() {
							notification_element.css('display', 'none')
							notification_timeout = -1
						}, 5000);
					}
				};
				xmlhttp.open("POST", "/orders/");

				xmlhttp.setRequestHeader("Content-Type", "application/json");
				xmlhttp.setRequestHeader("X-CSRFToken", $("[name=csrfmiddlewaretoken]").val());
	

				xmlhttp.send(JSON.stringify({"address": address}));
			} else {
				alert('Please enter a valid address.')
			}
		})
	})
</script>


{% include "General/footer.html" %}
{% endblock %}