{% load static %}

<html>
<head>
<title>Best Store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Best Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- //js -->
<!-- cart -->
<script src="{% static 'js/simpleCart.min.js' %}"></script>
<!-- cart -->
<!-- for bootstrap working -->
<script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>
<!-- //for bootstrap working -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- timer -->
<link rel="stylesheet" href="{% static 'css/jquery.countdown.css' %}" />
<!-- //timer -->
<!-- animation-effect -->
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
<script src="{% static 'js/wow.min.js' %}"></script>
<script>
 new WOW().init();
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script>
        $(document).ready(function(){
            $("#search").autocomplete({
                source: "/ajax/search/",
                minLength: 1,
                open: function(){
                    setTimeout(function () {
                        $('.ui-autocomplete').css('z-index', 99);
                    }, 0);
                }
              });
        });
</script>
</head>
<style>
.loader {
	border: 16px solid #FFC229;
	border-radius: 50%;
	border-top: 16px solid white;
	width: 42px;
	height: 42px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	position: fixed;
	z-index: 100;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
	box-shadow: 0 0 0 100vmax rgba(0,0,0,.69);
	display: none;
	background-color: #4F4F4F;
	opacity: 0.69;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#blockDiv {
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
	display: none;
}

#cart-add-failure {
	position: fixed;
	display: none;
	width: 100%;
	z-index: 999;
	text-align: center;
}

#cart-add-success {
	position: fixed;
	display: none;
	width: 100%;
	z-index: 999;
	text-align: center;
}

#cart-minus-success {
	position: fixed;
	display: none;
	width: 100%;
	z-index: 999;
	text-align: center;
}

#cart-empty-success {
	position: fixed;
	display: none;
	width: 100%;
	z-index: 999;
	text-align: center;
}

#order-success {
	position: fixed;
	display: none;
	width: 100%;
	z-index: 999;
	text-align: center;	
}
</style>

<!-- header -->
<div class='cart-notification alert alert-danger' id='cart-add-failure'>Item(s) failed to be added to cart: Max quantity of this product already added.</div>
<div class='cart-notification alert alert-success' id='cart-add-success'>Item(s) successfully added to cart.</div>
<div class='cart-notification alert alert-success' id='cart-minus-success'>Item(s) successfully removed from cart.</div>
<div class='cart-notification alert alert-success' id='cart-empty-success'>All items successfully emptied from cart.</div>
<div class='cart-notification alert alert-success' id='order-success'>ORDER SUCCESS: PLEASE CHECK EMAIL FOR CONFIRMATION</div>
<div id="blockDiv"></div>
<div class="loader"></div>
	<div class="header">
		<div class="container">
			<div class="header-grid">
				<div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
					<ul>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">admin@company.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 892</li>
						{% if not request.user.is_anonymous %}
						 	<li><a href="{% url 'dashboard' %}"> <h5> {{ firstname }} </h5> </a> </li>
							<li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="{% url 'logout' %}">Logout</a></li>
						{% else %}
							<li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="{% url 'loginform' %}">Login</a></li>
							<li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href="{% url 'registerform' %}">Register</a></li>
						{% endif %}
					</ul>
				</div>
				<div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
					<ul class="social-icons">
						<li><a href="#" class="facebook"></a></li>
						<li><a href="#" class="twitter"></a></li>
						<li><a href="#" class="g"></a></li>
						<li><a href="#" class="instagram"></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="logo-nav">
				<div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
					<h1><a href="{% url 'homepage' %}" data-toggle="dropdown">Best Store <span>Shop anywhere</span></a></h1>
				</div>
				<div class="logo-nav-left1">
					<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header nav_2">
						<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav">
							<li class="active"><a href="{% url 'homepage'%}" class="act">Home</a></li>
							<!-- Mega Menu -->
							<li class="dropdown">
								<a href="{% url 'products' %}" id="prod">Products <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-3" id="new_display">
									<div class="row">
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6> Category </h6>
												{% for db_name, item in category_choices %}
												<li>
													<a class="filter_value" href="/products/filter/?filter_category={{ item }}" name="filter_value" value="{{item}}">
														{{ item }}
													</a>
												</li>
												<br>
												{% endfor %}
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">

												<h6>Tags</h6>
												{% for db_name, item in sub_category_choices %}

													<li>
														<a class="filter_value" href="/products/filter/?filter_sub_category={{ item }}" name="filter_value" value="{{ item }}">
															{{ item }}
														</a>
													</li>
												{% endfor %}
											</ul>
										</div>

									</div>
								</ul>
							</li>
							<li><a href="{% url 'contact' %}">Contact Us</a></li>
						</ul>
					</div>
					</nav>
				</div>
				<div class="logo-nav-right">
					<div class="search-box">
						<div id="sb-search" class="sb-search">
							<form method="GET" id="ui_element" action="/products/">
								{% csrf_token %}
								<input  name="search" class="sb-search-input" placeholder="Enter your search term..." type="search" id="search">
								<input class="sb-search-submit" type="submit" value="">
								<span class="sb-icon-search"> </span>
							</form>
						</div>
					</div>
						<!-- search-scripts -->
						<script src="{% static 'js/classie.js' %}"></script>
						<script src="{% static 'js/uisearch.js' %}"></script>
							<script>
								new UISearch( document.getElementById( 'sb-search' ) );
							</script>
						<!-- //search-scripts -->
				</div>
				<div class="header-right" style='width: 242px !important;'>

					<div class="cart box_1">
						<a href="{% url 'checkout' %}">
							<h3 style='padding-bottom: 6px !important;'> <div class="total">$<span id='cart-price'>{{total_price}}</span>.00 (<span id='cart-qty'>{{total_qty}}</span> items)</div>
								<img src="{% static 'images/bag.png' %}" alt="" />
							</h3>
						</a>
						<p><a href="#" class="simpleCart_empty" id='empty-cart'>Empty Cart</a></p>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

	</div>
<!-- //header -->
<script type='text/javascript'>
current_cart_qty = '{{total_qty}}'
current_cart_price = '{{total_price}}'
notification_timeout = -1
notification_element = $('#cart-add-failure')
$( document ).ready(function() {

	$('#empty-cart').click(function(evt) {
		evt.preventDefault()
		if (parseInt(current_cart_qty) > 0) {
			if (notification_timeout !== -1) {
				clearTimeout(notification_timeout)
			}
			notification_element.css('display', 'none')
			$('.loader').css('display', 'block')
			$('#blockDiv').css('display', 'block')
			var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
			xmlhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					res = JSON.parse(this.responseText)
					if (res['success'] === true) {
						
						current_cart_qty = 0
						current_cart_price = 0
						
						notification_element = $('#cart-empty-success')
					}
					setTimeout(function() {
						$('.loader').css('display', 'none')
						$("#blockDiv").css('display', 'none')
						notification_element.css('display', 'block')
						$('#order-total-order').html('$0.00')
						$('#order-final-table').css("display", "none");
						empty_cart_header(0, 0)
						empty_checkout_box()
					}, 1420);
					notification_timeout = setTimeout(function() {
						notification_element.css('display', 'none')
						notification_timeout = -1
					}, 4000);
				}
			};

			xmlhttp.open("GET", "/api/product/cart/empty/");
			xmlhttp.send();
		}
	})

	$("#prod").mouseover(function(){
		$("#new_display").css("display", "block");
	})

	$("#bs-megadropdown-tabs").mouseleave(function(){
		$("#new_display").css("display", "none");
	})


	$('.add-item').click(function(evt) {
		evt.preventDefault()
		if (notification_timeout !== -1) {
			clearTimeout(notification_timeout)
		}
		notification_element.css('display', 'none')
		$('.loader').css('display', 'block')
		$('#blockDiv').css('display', 'block')
		pk = evt.target.getAttribute('data-pk')
		price = evt.target.getAttribute('data-price')
		qty = evt.target.getAttribute('data-qty') || 1

		var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
		xmlhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				res = JSON.parse(this.responseText)
				notification_element = $('#cart-add-failure')
				if (res['success']) {
					notification_element = $('#cart-add-success')
				}
				setTimeout(function() {
					$('.loader').css('display', 'none')
					$("#blockDiv").css('display', 'none')
					update_cart_header(parseInt(price), parseInt(qty))
					notification_element.css('display', 'block')
				}, 1420);
				notification_timeout = setTimeout(function() {
					notification_element.css('display', 'none')
					notification_timeout = -1
				}, 4000);
			}
		};

		xmlhttp.open("GET", "/api/product/cart/update/"+pk+"/?qty="+qty);
		xmlhttp.send();	
	})

	var update_cart_header = function(price, qty) {
		current_cart_qty = parseInt(current_cart_qty) + qty
		current_cart_price = parseInt(current_cart_price) + (qty*price)

		$('#cart-qty').html(current_cart_qty)
		$('#cart-price').html(current_cart_price)
	}

	var empty_cart_header = function(price, qty) {
		if (price === 0 && qty === 0) {
			$('#cart-qty').html('0')
			$('#cart-price').html('0')
		}
		$('.rem1').css('display', 'none')
	}

	function empty_checkout_box() {
		var checkout_items = $('.checkout-box-items')
		if (checkout_items.length > 0) {
			for (i=0; i<checkout_items.length; i++) {
				$(checkout_items[i]).css('display', 'none')
			}
			$('#checkout-box-total-price').html('0')
		}
	}

});


</script>
{% block content %}
{% endblock %}


