{% load static %}

<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
					<h3>About Us</h3>
					<p>Django Boys are the part of python team of To The New.<span>Django boys, as the name tells work on Django, and create websites Since we don't know much of the front end, we rely on third party templates for that. Backend, however, is totally handled by us. :)</span></p>
				</div>
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
					<h3>Contact Info</h3>
					<ul>
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>To The New, Sector-127 <span>Noida, UP.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="rbtherib2@gmail.com">rbterib2@gmail.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+91 98740 23651</li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
					<h3>Flickr Posts</h3>
					<div class="footer-grid-left">
						<a href="single.html"><img src="{% static 'images/13.jpg' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img src="{% static 'images/14.jpg' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img src="{% static 'images/15.jpg' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img src="{% static 'images/16.jpg' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img src="{% static 'images/13.jpg' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img src="{% static 'images/14.jpg' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img src="{% static 'images/15.jpg' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img src="{% static 'images/16.jpg' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img src="{% static 'images/13.jpg' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img src="{% static 'images/14.jpg' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img src="{% static 'images/15.jpg' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img src="{% static 'images/16.jpg' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
					<h3>Privacy Policy</h3>
					<div class="footer-grid-sub-grids">
						<div class="footer-grid-sub-grid-right">
							<h4><a href="{% url 'terms_conditions' %}"><i class="glyphicon glyphicon-asterisk" aria-hidden="true"></i>Terms & Conditions</a></h4>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="footer-grid-sub-grids">
						<div class="footer-grid-sub-grid-left">
						</div>
						<div class="footer-grid-sub-grid-right">
							<h4><a href="{% url 'privacy_policy' %}"><i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>Privacy Policy</a></h4>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
				<h2><a href="{% url 'homepage' %}">Best Store <span>shop anywhere</span></a></h2>
			</div>
			<div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
				<p>&copy 2016 Best Store. No rights reserved | Design by DjangoBoys</a></p>
			</div>
		</div>
	</div>
<!-- //footer -->

