{% extends 'General/base.html' %}
{% load static %}
{% block content %}

{% for add in address %}

<div>
    <center>
         <center><div style="height:250px;width:600px">
      <label> {{add.label}} </label> </b> <br>
  <label>Address:</label>  {{ add.address }} <br>
    {{add.city}}, {{add.state }} <br>
    {{add.pincode}} <br> {{add.landmark}}<br>
    {{add.country}}<br>
             <center><label>Phone:</label> <b>{{ add.mobile }}</center>
        <form method="post" action="{% url 'delete_address' add.pk %}" style="float:right;">
            {% csrf_token %}
            <button class="label label-danger" type="submit" value="Delete" style="width:110px"><strong>Delete</strong></button>
        </form>
         </div>
         </center>
        {% empty %}
       <center><div style="height:400px;width:1000px"> <h2>You don't have any saved addresses with us.</h2></center> </div>
{% endfor %}

        </center>
</div>
{% include 'General/footer.html' %}
{% endblock %}