{% extends "General/base.html" %}
{% load static %}
{% block content %}	
<body>
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="{% url 'homepage' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Products</li>
			</ol>
		</div>
	</div>
	<div class="products" >
		<div class="container">

					{% for product in featured %}
					<div class="col-md-4 products-right-grids-bottom-grid" style='margin-bottom: 8px; margin-top: 8px;'>
						<div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
							<div class="new-collections-grid1-image">
								<a href="single.html" class="product-image"><img src="{{product.productimages_set.first.image.url}}" alt=" " height='42' width='42'></a>
								<div class="new-collections-grid1-image-pos products-right-grids-pos">
									<a href="/products/{{product.slug}}/">Quick View</a>
								</div>
							</div>	
							<h4><a href="single.html">{{product.name}}</a></h4>
							<div class="simpleCart_shelfItem products-right-grid1-add-cart">
								<p style='text-align: center;'>${{product.price}}</p>
								<a href="/products/{{product.slug}}/">Quick View</a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

{% include "General/footer.html" %}
{% endblock %}