{% if product %}
{% for prod in product %}
<div class="col-md-4 products-right-grids-bottom-grid" style='margin-bottom: 8px; margin-top: 8px;'>
    <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
        <div class="new-collections-grid1-image">
            <a href="single.html" class="product-image"><img src="{{prod.productimages_set.first.image.url}}" alt=" " height='170' width='200'></a>
            <div class="new-collections-grid1-image-pos products-right-grids-pos">
                <a href="/products/{{prod.id}}/">Quick View</a>
            </div>
        </div>
        <h4><a href="single.html">{{prod.name}}</a></h4>
        <div class="simpleCart_shelfItem products-right-grid1-add-cart">
            <p style='text-align: center;'>${{prod.price}}<a data-pk="{{prod.id}}" data-price="{{prod.price}}" class="add-item" href="#">add to cart </a></p>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<div class="col-md-12 products-right-grids-bottom-grid" style='margin-bottom: 8px; margin-top: 8px;'>
    <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
    <h1>{{ message }}</h1>
    </div>
</div>

{% endif %}