{% extends 'General/base.html' %}

{% block content %}


<section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="login_form_inner">

							<center> {% include 'Auth/messages.html' %} </center>

<form method="POST" action="{% url 'change_password' %}" style="margin: 0 auto; width:250px;">

	{% csrf_token %}
	<div class="form-group">
	<label for="old_password">Old Password</label>
	<input type="password" class="form-control" name="old_password">
<br>	
	<label for="new_password">New Password</label>
	<input type="password" class="form-control" name="password1">
<br>
	<label for="new_password">Comfirm Password</label>
	<input type="password" class="form-control" name="password2">
<br>
	<center><button type="submit" class="btn btn-outline-info" style="width:250px">Reset</button></center>

</form>
</div>
</div>
</div>
</div>
</section>

{% include 'General/footer.html' %}


{% endblock content %}