{% extends "General/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <center>
    <div class="login">
        <div class="content-section">
            			<div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">Reset Password</h3><br><br>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" style="width:500px">Request Password Reset</button>
            </div>
        </form>
    </div>
    </div>
    </div>
        </center>
{% include "General/footer.html" %}
{% endblock content %}